<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @sentence.text %>
</p>

<p>
  <strong>Publication:</strong>
  <%= @sentence.publication %>
</p>

<%= link_to 'Edit', edit_sentence_path(@sentence) %> |
<%= link_to 'Back', sentences_path %>
