<p id="notice"><%= notice %></p>

<h1>Publications</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Year</th>
      <th>Wellcome id</th>
      <th>Source</th>
    </tr>
  </thead>

  <tbody>
    <% @publications.each do |publication| %>
      <tr>
        <td><%= link_to publication.title, publication %></td>
        <td><%= publication.author %></td>
        <td><%= publication.year %></td>
        <td><%= publication.wellcome_id %></td>
        <td><%= link_to 'Source', publication.original_url %></td>
      </tr>
    <% end %>
  </tbody>
</table>
