
  <div class="blue-wrapper">
    <div class="blue">
      <header class="container">
        <nav>
          <ul class="nav">
            <li><%= link_to 'Browse The Texts', "/#books" %></li>
            <li><%= link_to 'About', :about %></li>

          </ul>
        </nav>
      </header>
        <div class="container">
          <section>
            <div class="row">
              <h2 class="standfirst">Can we trace text copying in 19th century sexual health books?</h2>
            </div>
            <div class="row">
              <div class="main">
                <p class="intro">This is an experiment from <%= link_to "Wellcome Data Week", "http://blog.wellcomelibrary.org/2016/11/meet-the-digital-data-dabblers/" %> to see if we can use software to find how medical writing has been reused, recycled, and reinvented over time.</p>

                <p>We've been using Victorian works about sexual health from the UK Medical Heritage Library as our starting point.</p>

                <p><%= link_to "Would you like to know more?", :about %></p>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>

    <section class="container">
      <p class="section-intro" id="books">Browse the texts</p>
      <hr>
      <p>These are the texts we've checked for copying so far.</p>

        <% @publications.each do |publication| %>
          <h3><%= link_to publication.title, publication %></h3>
        <% end %>

      <hr>
    </section>

  </div>
</div>
