<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @publication.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @publication.author %>
</p>

<p>
  <strong>Year:</strong>
  <%= @publication.year %>
</p>

<p>
  <strong>Wellcome:</strong>
  <%= @publication.wellcome_id %>
</p>

<ul>
  <% for @sentence in @publication.sentences %>
    <li name=<%= @sentence.id %> style="background-color: rgba(<%= @sentence.percentage_max_score > 0.5 ? 255 : 0 %>, <%= @sentence.percentage_max_score > 0.5 ? 251 : 0 %>, <%= @sentence.percentage_max_score > 0.5 ? 204 : 0 %>, <%= @sentence.percentage_max_score > 0.5 ? (@sentence.percentage_max_score-0.5)*2 : 0 %>);"><%= @sentence.text %> (<%= '%.1f' % (@sentence.percentage_max_score*100) %>%)</li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_publication_path(@publication) %> |
<%= link_to 'Back', publications_path %>
