<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @publication.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @publication.author %>
</p>

<p>
  <strong>Year:</strong>
  <%= @publication.year %>
</p>

<p>
  <strong>Wellcome:</strong>
  <%= @publication.wellcome_id %>
</p>

<ul>
  <% for @sentence in @publication.sentences.order("id ASC") %>
    <li id=<%= @sentence.id %> style="background-color: rgba(<%= @sentence.percentage_max_score > 0.5 ? 255 : 0 %>, <%= @sentence.percentage_max_score > 0.5 ? 251 : 0 %>, <%= @sentence.percentage_max_score > 0.5 ? 204 : 0 %>, <%= @sentence.percentage_max_score > 0.5 ? (@sentence.percentage_max_score-0.5)*2 : 0 %>);">
      <%= @sentence.text %>
      (<%= '%.1f' % (@sentence.percentage_max_score*100) %>%)

      <% if @sentence.percentage_max_score > 0.5 %>
        <ul>
          <% for @similarity in @sentence.similar.order("score DESC") %>
            <% if @similarity.score / @sentence.max_score * @sentence.percentage_max_score > 0.5 %>
              <li>
                <a href="/publications/<%= @similarity.similar.publication_id %>#<%= @similarity.similar_id %>">
                  <%= @similarity.similar.publication.title %>
                </a>:
                <blockquote>
                  <!--<%= @similarity.highlight.html_safe %>-->
                  <em><%= @similarity.similar.text %></em>
                </blockquote>
                (<%= '%.1f' % (@similarity.score / @sentence.max_score * (@sentence.percentage_max_score*100) ) %>%)
                [<%= @similarity.similar_id %>]</a>
              </li>
            <% end %>
          <% end %>
        </ul>
      <% end %>
    </li>
  <% end %>
</ul>
